{{template "base" .}}

{{define "title"}}Домашняя страница{{end}}

{{define "main"}}
    {{if .Products}}
        <h2>Последние заказы</h2>
            {{if .ProductTypes}}
                Тип изделия:
                <form name = "select">
                    <select name="java-navigator" onchange="top.location.href =
                        this.options[this.selectedIndex].value;">
                        <option disabled selected value>Выберите тип изделия</option>
                            {{range .ProductTypes}}
                                <option value='/?type={{.TypeName}}'>{{.TypeName}}</option>
                            {{end}}
                    </select>
                </form>
                <form name="inputBox">
                    <input name="params" type="text" onsubmit="window.location=document.forms[1].params.value"> </input>
                </form>
            {{end}}
     <table>
        <tr>
            <th>Заказ</th>
            <th>Заказчик</th>
            <th>Стоимость</th>
            <th>№ заказа</th>
        </tr>
        {{range .Products}}
        <tr>
            <td><a href='/order?id={{.ID}}'>{{.Type}}</a></td>
            <td><a href='/customer?id={{.CustomerId}}'>{{.CustomerFIO}}</a></td>
            <td>{{.Cost}}руб.</td>
            <td>#{{.ID}}</td>
        </tr>
        {{end}}
    </table>
    <input type="button" onclick="location.href='/?updatePrice';" value="Увеличить цену на 20%"></input>
    {{else}}
        <p>Здесь ничего нет... пока что!</p>
    {{end}}
{{end}}